/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500|Comfortaa:700|Roboto:300');

$base-font: "Roboto", "Helvetica", "sans-serif";
$header-font: "Comfortaa", "Helvetica", "sans-serif";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

$navbar-height: 70px;
$footer-height: 70px;
/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #D23333;

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;

// Variable for Park My Boat Home page

$modal-background: #FBFFDE;
$modal-text: black;
$backgroundnavbar: hsla(289, 62%, 6%, 0.87);
$backgroundfooter: hsla(289, 62%, 6%, 0.87);
// font-type

h1 {
font-family: 'Comfortaa:700', cursive;
}

h2, h3, h4, h5, h6 {
font-family: 'Gruppo', cursive;
}
