<h1>User#welcome</h1>

<p>
  <%= @greeting %>, find me in app/views/user_mailer/welcome.html.erb
</p>

<h1>Bonjour <%= @user.fisrt_name %> <%= @user.last_name %></h1>
 <p>Nous vous souhaitons la bienvenue sur park my boat !</p>
