.card-port-show {
  background-color: white;
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 5px;

  border-radius: 4px;
}

.card-port-show-book {
  background: white;

  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 40px;
  margin-bottom: 80px;
  margin-left: 5px;

  border-radius: 4px;
  box-shadow: 9px 9px 20px 0px rgba(0, 0, 0, 0.1);
}

.card-port-show-book.fixed {
  position: fixed;
  width: 347px,
}

.card-img-show {
  width: 100%;
  height: auto;
  max-height: 194px;
  border-radius: 10px;
}

.card-block-show {
  padding: 1px;
  margin: 0 auto;
}

.card-block-show-booking {
  position: relative;

}

.price_show {
  h4 {

  top : 4px;
  right: 6px;

  }
  i {

  top : 12px;
  right: 74px;

  }
}

.btn{
  a{
    text-decoration: none;
    color: white;

  }
}

.container-port-show {
  background-color: white;
}

.container {

}

.card-block-resa{
  position: absolute;
  top: 20px;
  left: 0px;
}

.card-block-resa-xs{
  position: absolute;
  top: 5px;
  left: -1px;
}

.spacing{
  margin-top: 2em;
}

.box {
  border: 1px solid #666;
  height: 50px;
  width: 50px;
  border-radius: 4px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 10px;

  i {
    font-size: 2em;
    color: #999;
  }
}

.main-box {
  p {
    font-size: $base-size * 0.85;
  }
}

