.card-port-show {
  background: white;
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 5px;

  border-radius: 4px;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

.card-port-show-book {
  background: white;
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 80px;
  margin-left: 5px;

  border-radius: 4px;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

.card-port-show-book.fixed {
  position: fixed;
  width: 347px,
}

.card-img-show {
  width: 100%;
  height: auto;
  max-height: 194px;
  border-radius: 10px;
}

.card-block-show {
  padding: 1px;
  margin: 0 auto;
}

.card-block-show-booking {
  position: relative;

}

.price_show {
  h5 {
  position: absolute;
  top : 4px;
  right: 6px;

  }
  i {
  position: absolute;
  top : 12px;
  right: 74px;

  }
}

.btn{
  a{
    text-decoration: none;
    color: white;

  }
}



