
.card-img-index {
  height: auto;
  // border-radius: 10px;
  // max-height: 140px;
}

.card-port {
position:relative;
background: white;
padding: 10px;
margin: 5px;
border-radius: 4px;
box-shadow: 9px 9px 20px 0px rgba(0, 0, 0, 0.1);
margin-bottom: 20px;
  p {
   font-size: ($base-size * 0.85);
   text-align: justify;
  }
}

// .port-bar {
//     position: fixed;
//     top: 65px;
//     left: 0;
//     bottom: 0;
//     width: 60%;
//     overflow-y: scroll;
//     -webkit-overflow-scrolling: touch;
//     z-index: 0;
// }

#port-sidebar {
// border: 1px solid black;
// width:  250px;
// margin-bottom: 12px;
}

.card-link-port {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}

.card-link-port:hover{
  opacity: 0.1;
}



.button-align
{
text-align: center;
height:100px;
display:flex;
align-items:flex-end;
justify-content: flex-end;
}

.img-text-block
{
display:inline-block;
}

.line-port
{
width: 50%;
float:left;
}

.align-blocks
{
display:block;
}

.info-block
{

p
{
display:flex;
justify-content:center;
align-items:center;
}

}

.img-rounded
{
border-radius:4px;
height:200px;
}

@media (max-width: 642px) {
.button-align {
  display:inline-block;
  width:100%;
  margin-bottom: 10px;
  }
}

.card-price-port {
  text-align: right;
  h5 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 20px;
  }
}

.coordinary {
  p {
    margin-bottom: 0px;
  }
  h5 {
    margin-top: 20px;
  }
}

.card-title {
 margin-bottom: 0px;
}

