
.card-img-index {
  width: 40%;
  height: auto;
  border-radius: 10px;
  max-height: 140px;
}

.card-port {
position:relative;
background: white;
padding: 10px;
margin: 5px;
border-radius: 4px;
box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

// .port-bar {
//     position: fixed;
//     top: 65px;
//     left: 0;
//     bottom: 0;
//     width: 60%;
//     overflow-y: scroll;
//     -webkit-overflow-scrolling: touch;
//     z-index: 0;
// }

#port-sidebar {
overflow-y: scroll;
// border: 1px solid black;
// width:  250px;
// margin-bottom: 12px;
}

.card-link-port {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}

.card-link-port:hover{
  opacity: 0.1;
}

#port-desc
{
width: auto;
height: 40px;
line-height: 20px;
overflow: hidden;
}

.button-align
{
text-align: center;
}

