
.user-sign-in {
  padding-top: 15%;
  padding-right: 30%;
  padding-left: 30%;
  h2 {
    text-align: center;
  }
  .form-actions {
    text-align: center;
  }
}

// .container-user-sign-in {
//   min-height: 100vh;
//   margin-bottom: -55px;
// }
