<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Merci de votre inscription, <%= @user.first_name %>!</h1>
    <p>nous vous souhaitons une bonne journée, et à bientôt sur park my boat.</p>
  </body>
</html>
