<%= render 'shared/navbar'  %>

<div class="home-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://www.bloghuts.com/upload/downloads/Photography/Lets-go-yachting.jpg');">
  <div class="container">
    <div class="home-banner-content">
      <h1>Book a boat place</h1>
      <br>
      <%= render 'search_bar' %>
    </div>
  </div>
</div>
