// Your footer style
/* wrapper */

.wrapper-footer {
  background: $backgroundfooter;
  width: 100%;
  left: 0px;
  bottom: 0px;
  z-index: 1;

}

/* icones */
.row-footer i {
  width: 50px;
  color: #fcfcfc;
  font-size: 30px;
  padding: 10px;
  padding-top: 15px;
  transition: background 0.5s;
}

.row-footer i:hover {
  width: 50px;
  color: #671D34;
  background: #fcfcfc;
  font-size: 30px;
  padding: 10px;
  padding-top: 15px;
  transition: background 0.2s;
}

