// Your footer style
/* wrapper */

.wrapper-footer {
  background: $backgroundfooter;
  width: 100%;
  height: $footer-height;
  padding-top:10px;
  a {
    color: white;
    margin: 0px 5px;

      &:hover{
      color: #42A3E1;
      transition: background 0.2s;
      text-decoration: none;
    }
  }
}

/* icones */
.row-footer i {
  width: 50px;
  color: #fcfcfc;
  font-size: 30px;
  padding-top: 10px;
  transition: background 0.5s;
}

.row-footer i:hover {
  width: 50px;
  color: #42A3E1;
  font-size: 30px;
  padding-top: 10px;
  transition: background 0.2s;
}

