

.search_bar {
  padding: 20px 0px 20px 0px;
}


.search_bar_visibe label {
  font-weight: normal;
  display: block;
  text-align: left;
}

.search_bar_visibe  {
  input{
  width: 100%;
  color: black;
  border-radius: 4px;
  }
  .date {
    input{
      width: 48%;
      text-align: center;
      border: 0px;
    }
  }
  .dimensions {
    input {
      width: 31%;
      text-align: center;
      border: 0px;
    }
  }
  .port {
    input {
      border: 0px;
    }
  }
}


.options {
  display:  none;
}

.options h4 {
  border-bottom: 1px solid white;
  text-align: left;
}

.options ul {
  list-style: none;
  text-align : left;
  margin-left: -30px;
}

.options label {
  margin-left: 3px;
  display: inline;
}

.options-padding {
  padding-top: 1%;
}

.search-btn {
  margin-top: 23px;
  padding-left: 15px;
  padding-right: 15px;
}
