/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

// Delete focus blue
*:focus, *:active {
    outline: none;
}

.wrapper {
  background-color: #fcf7ff;
}

.container-index {
  background-color: #f5f5f5;
}

.container-show {
  background-color: red;
}

.inner-wrapper {
  min-height: calc(100vh - #{$footer-height});
  margin-top: $navbar-height;
}
